def main():
  let list = List[Int](1, 2, 3)  #range(1, 4)

  print list

  let iterable = list as Iterable[Int]

  let iterator = iterable.iterator()

  print iterator.next
  print iterator.next

  for2 iterable :
    print $0