def fizz_buzz(x: int):
  if x % 3 == 0:
    if x % 5 == 0:
      print("FizzBuzz")
    else:
      print("Fizz")
  elif x % 5 == 0:
    print("Buzz")
  else:
    print(str(x))


def main():
  while True:
    print("Number?")
    fizz_buzz(int(input()))
