def fizz_buzz(x: int) -> Str:
  if x % 3 == 0:
    if x % 5 == 0:
      return "FizzBuzz"
    return "Fizz"
  if x % 5 == 0:
    return "Buzz"
  return str(x)


def main():
  while True:
    print(fizz_buzz(int(input("Number?"))))
