def main():
  let mut current = 0
  let mut best = 0
  for line in (CALORIES + "\n").split("\n"):
    if line == "":
      if current > best:
        best = current
      current = 0
    else:
      current = current + int(line)

  print(best)

CALORIES = """
1000
2000
3000

4000

5000
6000

7000
8000
9000

10000
"""
