def main():
  let mut current = 0
  let all = MutableList[int]()
  for line in (CALORIES + "\n").split("\n"):
    if line == "":
      all.append(current)
      current = 0
    else:
      current = current + int(line)

  all.sort()
  let l = len(all)

  print (all[l - 3] + all[l -2] + all[l-1])

CALORIES = """
1000
2000
3000

4000

5000
6000

7000
8000
9000

10000
"""
