struct Monkey:
  items: MutableList[int]
  operation: (old: int) -> int
  divisible: int
  if_true: int
  if_false: int


def main():
  print(MONKEYS)

MONKEYS = List[Monkey](Monkey(MutableList[int](79, 89), $0 * 19, 23, 2, 3), Monkey(MutableList[int](54, 65, 75, 74), $0 + 6, 19, 2, 0), Monkey(MutableList[int](79, 60, 97), $0 * $0, 13, 1, 3), Monkey(MutableList[int](74), $0 + 3, 17, 0, 1))
